
+media(mobile)
	.back-arrow 
		width 10%
	.arrow
		padding-bottom 1.2rem
		padding-top 1.2rem
	 
	.main-title-container-article
		display:flex
		flex-direction: row
		padding-left: 4rem
		padding-top 15px

	.img-article
		width: 100%
	.main-article
		border-top: 2px   solid black
		display: flex
		flex-direction: row
		flex-wrap:nowrap
		flex-flow: nowrap;
		justify-content: space-between
		// align-content:stretch
		border-bottom: 2px   solid black
		flex-direction: row
		justify-items: start left self-start	align-content left
		gap: 10px;
		margin 4rem 3rem 3rem 3rem 
		// column-gap: 20px;
		//justify-items: start
		border-bottom: 2px   solid black
	.main-article div.article-a
		order:1
		// background-color: blue
		flex 0 1 auto
		align-self: auto
		width 100%
		// min-width 400px
		min-height: auto

	.main-article div.article-b
		
		order:2
		// background-color: rgb(0, 255, 0)
		flex 1 1 auto
		align-self: auto
		// min-width 400px
		width 1%
		min-height: 10px

	.main-article div.article-c
		order:3
		// background-color: rgb(255, 0, 106)
		flex 0  1 auto
		align-self: auto
		// min-width 400px
		width 10%
		min-height: auto

	.titolo-aggiuntivo
		color:black
		font-size sub-font 
		letter-spacing: .07rem
		padding-bottom: 2rem
		font-family: "roobert-medium" 


+media(tablet-v)
	.back-arrow 
		width 10%
	.arrow
		padding-bottom 1.2rem
		padding-top 1.2rem
	 
	.main-title-container-article
		display:flex
		flex-direction: row
		padding-left: 4rem
		padding-top 15px

	.img-article
		width: 100%
	.main-article
		border-top: 2px   solid black
		display: flex
		flex-direction: row
		flex-wrap:nowrap
		flex-flow: nowrap;
		justify-content: space-between
		// align-content:stretch
		border-bottom: 2px   solid black
		flex-direction: row
		justify-items: start left self-start	align-content left
		gap: 10px;
		margin 4rem 3rem 3rem 3rem 
		// column-gap: 20px;
		//justify-items: start
		border-bottom: 2px   solid black
	.main-article div.article-a
		order:1
		// background-color: blue
		flex 0 1 auto
		align-self: auto
		width 100%
		// min-width 400px
		min-height: auto

	.main-article div.article-b
		
		order:2
		// background-color: rgb(0, 255, 0)
		flex 1 1 auto
		align-self: auto
		// min-width 400px
		width 1%
		min-height: 10px

	.main-article div.article-c
		order:3
		// background-color: rgb(255, 0, 106)
		flex 0  1 auto
		align-self: auto
		// min-width 400px
		width 10%
		min-height: auto

	.titolo-aggiuntivo
		color:black
		font-size sub-font 
		letter-spacing: .07rem
		padding-bottom: 2rem
		font-family: "roobert-medium" 

		

+media(tablet-h)
	.arrow
		padding-bottom 1.2rem
		padding-top 1.2rem

	.main-title-container-article
		display:flex
		flex-direction: row
		padding-left: 4rem
		padding-top 15px

	.img-article
		width: 50%
	.main-article
		border-top: 2px   solid black
		display: flex
		flex-direction: row
		flex-wrap:nowrap
		flex-flow: nowrap;
		justify-content: space-between
		// align-content:stretch
		border-bottom: 2px   solid black
		flex-direction: row
		justify-items: start left self-start	align-content left
		gap: 10px;
		margin 4rem 3rem 3rem 3rem 
		// column-gap: 20px;
		//justify-items: start
		border-bottom: 2px   solid black
	.main-article div.article-a
		order:1
		// background-color: blue
		flex 0 1 auto
		align-self: auto
		width 50%
		// min-width 400px
		min-height: auto

	.main-article div.article-b
		
		order:2
		// background-color: rgb(0, 255, 0)
		flex 1 1 auto
		align-self: auto
		// min-width 400px
		width 1%
		min-height: 10px

	.main-article div.article-c
		order:3
		// background-color: rgb(255, 0, 106)
		flex 0  1 auto
		align-self: auto
		// min-width 400px
		width 10%
		min-height: auto

	.titolo-aggiuntivo
		color:black
		font-size sub-font 
		letter-spacing: .07rem
		padding-bottom: 2rem
		font-family: "roobert-medium" 

	