
 
.banner
	z-index -1
	position fixed
	top 0
#containers
	height: 250px

a:link
	color:black
	font-size small-font

h1
	// padding:1rem 0 1rem 2rem
	color black
	font-size big-font
	letter-spacing: .1rem;
	font-family: "roobert-bold"; 
h2
	// padding:1rem 0 1rem 2rem
	color black
	font-size sub-font 
	letter-spacing: .07rem;
	font-family: "roobert-bold"; 
p
	padding:1rem 0 1rem 2rem
	line-height: 24px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
	
.container 
	display: flex
	flex-direction: column
	justify-content: center
	align-content: center
	align-items: center

.container div.a

	order:1
	background-color: blue
	flex 3 1 auto
	align-self: auto
	min-width auto
	min-height: auto

.container div.b
	order:2
	background-color: red
	flex 3 1 auto
	align-self: auto
	min-width auto
	min-height: auto
.container div.c
	order:3
	background-color: blue
	flex 3 1 auto
	align-self: auto
	min-width auto
	min-height: auto


+media(tablet-v)
	.container 
		display: flex
		flex-direction: row
		justify-content: center
		align-content: center
		align-items: center
	
 

// .item item-2
// 	order:2
// 	background-color: red
// 	flex 3 1 auto
// 	align-self: auto
// 	min-width 0
// 	min-height: auto
// .item item-3
// 	order 3
// 	background-color:green
// 	flex 3 1 auto
// 	align-self: auto
// 	min-width 0
// 	min-height: auto

	


// 	// margin-top: -2rem; /* Half the height */
// 	// margin-left: -2rem; /* Half the width */

// +media(mobile)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 20.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 100%;
// 		height: auto	

// +media(tablet-v)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 10.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 100%;
// 		height: auto

// +media(tablet-h)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 2.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 95%;
// 		height: auto

// +media(desktop)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
	

// 	img
// 		width: 90%;
// 		height: auto
		
		
// 	.images
// 		// padding 1rem
// 		top: 4.1%;
// 		left: 14%;
// 		width: 80%;
// 		height: 80%;
