
 
.banner
	z-index -4
 
h4
 
	font-family: "roobert-bold"; 
	
	color: red

 
.text
	padding-left 4rem
	max-width: 70%
.line
	
	border-bottom: 2px   solid black
.container
	padding-left 2.2rem

a:link
	padding:1rem 0 1rem 
	line-height: 24px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
	
	color: black

h1
	// padding:1rem 0 1rem 2rem
	color black
	font-size big-font
	letter-spacing: .1rem;
	font-family: "roobert-bold"; 
h2
	// padding:1rem 0 1rem 2rem
	color black
	font-size sub-font 
	letter-spacing: .07rem;
	font-family: "roobert-regular"; 
h3
	// padding:1rem 0 1rem 2rem
	color black
	font-size sub-font 
	letter-spacing: .07rem;
	font-family: "roobert-regular"; 
p
	font-size medium-font
	padding:1rem 0 1rem 
	line-height: 31px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
.a
	font-size medium-font
	padding:1rem 0 1rem 
	line-height: 24px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
 
	
.container 
	display: flex
	flex-direction: row
	flex-wrap:nowrap
	flex-flow: nowrap;
	justify-content: space-between
	// align-content:stretch
	border-bottom: 2px   solid black
	flex-direction: row
	justify-items: start left self-start	align-content left
	gap: 10px;
	margin 30px
	// column-gap: 20px;
	//justify-items: start

.container div.a

	order:1
	border 3px grey
	// background-color: blue
	// flex 3 1 10
	align-self: auto
	min-width 400px
	min-height: auto

.container div.b
	order:2
	
	// background-color: red
	// flex 3 1 auto
	// align-self: auto
	min-width auto
	max-width 780px
	min-height: auto
	margin-bottom: 10px
.container div.c
	order:3
	// background-color: yellow
	// flex 3 4 auto
	align: right
	min-width 400px
	max-width 400px
	min-height: auto
	margin: 0px 0px 30px 30px


// +media(tablet-v)
// 	.container 
// 		display: flex
// 		flex-direction: row
// 		justify-content: center
// 		align-content: center
// 		align-items: center
	
 

// .item item-2
// 	order:2
// 	background-color: red
// 	flex 3 1 auto
// 	align-self: auto
// 	min-width 0
// 	min-height: auto
// .item item-3
// 	order 3
// 	background-color:green
// 	flex 3 1 auto
// 	align-self: auto
// 	min-width 0
// 	min-height: auto

	


// 	// margin-top: -2rem; /* Half the height */
// 	// margin-left: -2rem; /* Half the width */

// +media(mobile)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 20.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 100%;
// 		height: auto	

// +media(tablet-v)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 10.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 100%;
// 		height: auto

// +media(tablet-h)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 2.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 95%;
// 		height: auto

// +media(desktop)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
	

	img
		width: 90%;
		height: auto
		
		
// 	.images
// 		// padding 1rem
// 		top: 4.1%;
// 		left: 14%;
// 		width: 80%;
// 		height: 80%;
