 

.content
	padding 2rem 6rem

.main-title-container
	display:flex
	flex-direction: row
	padding-left: 3rem
	padding-top 3rem
.main-title
	flex 3 1 auto
	order:1

.text
	max-width: 60%
	padding-top 1rem
	padding-bottom 3rem
.line
	border-bottom: 2px   solid black

.container
	padding-left 2.2rem
.containers
	padding-top  30px
	z-index -2
a:link
	padding:1rem 0 1rem 
	line-height: 24px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
	color: black
a:visited
	color black

h1
	// padding:1rem 0 1rem 2rem
	color black
	font-size 96px
	letter-spacing: .2rem;
	font-family: "roobert-medium"; 
h2
	// padding:1rem 0 1rem 2rem
	padding-top 0.4rem
	color black
	font-size sub-font 
	letter-spacing: .07rem;
	font-family: "roobert-medium"; 
h3
	// padding:1rem 0 1rem 2rem
	color black
	font-size 50px
	letter-spacing: .07rem;
	font-family: "roobert-medium"; 
.title-article
	padding-bottom 2rem	
h5
	padding:0.5rem  0 0 0
	color black
	font-size small-font
	letter-spacing: .07rem;
	font-family: "roobert-medium"; 
p
	font-size small-font
	padding:1rem 0 1rem 
	line-height: 31px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
.a
	font-size medium-font
	padding:0rem 0 1rem 
	line-height: 24px
	letter-spacing: 0.05em;
	font-family: "roobert-regular"; 
.c
	// padding-left: 13rem
	

.container 
	display: flex
	flex-direction: row
	flex-wrap:nowrap
	flex-flow: nowrap;
	justify-content: space-between
	// align-content:stretch
	border-bottom: 2px   solid black
	border-spacing: 15px

	flex-direction: row
	justify-items: start left self-start	align-content left
	gap: 10px;
	margin 4rem 0 0 0 
	padding 1rem 0 4rem 0rem
	// column-gap: 20px;
	//justify-items: start

.container div.a

	order:1

	// background-color: blue
	// flex 3 1 10
	align-self: auto
	min-width 22.5%
	min-height: auto

.container div.b
	order:2
	
	// background-color: red
	// flex 3 1 auto
	// align-self: auto
	min-width 45%
	max-width 45%
	// max-width 880px
	min-height: auto
	margin-bottom: 10px
.container div.c
	order:3
	
	// background-color: red
	// flex 3 1 auto
	// align-self: auto
	min-width 34.5%
	max-width 34.5%
	// max-width 880px
	min-height: auto
	margin-bottom: 10px




// +media(tablet-v)
// 	.container 
// 		display: flex
// 		flex-direction: row
// 		justify-content: center
// 		align-content: center
// 		align-items: center
	
 

// .item item-2
// 	order:2
// 	background-color: red
// 	flex 3 1 auto
// 	align-self: auto
// 	min-width 0
// 	min-height: auto
// .item item-3
// 	order 3
// 	background-color:green
// 	flex 3 1 auto
// 	align-self: auto
// 	min-width 0
// 	min-height: auto

	


// 	// margin-top: -2rem; /* Half the height */
// 	// margin-left: -2rem; /* Half the width */

// +media(mobile)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 20.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 100%;
// 		height: auto	

// +media(tablet-v)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 10.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 100%;
// 		height: auto

// +media(tablet-h)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
// 	.images
// 		// padding 1rem
// 		top: 2.1%;
// 		left: 2.5%;
// 		width: 95%;
// 		height: 95%;
// 	img
// 		width: 95%;
// 		height: auto

// +media(desktop)
	
// 	a:link
// 		color:black
// 		font-size small-font
// 		padding-left 2rem
// 		padding-bottom 2rem
	


		
		
// 	.images
// 		// padding 1rem
// 		top: 4.1%;
// 		left: 14%;
// 		width: 80%;
// 		height: 80%;
