 
@font-face {font-family: "roobert-regular"; src: url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.eot"); 
	src: url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6228016f2b172c06410f3a2356d33f6c.woff2") format("woff2")
	 }
 
@font-face {font-family: "roobert-bold"; 
	src: url("../css/fonts/Roobert-Bold.woff2") format("woff2")
	 }

@font-face {font-family: "roobert-medium"; 
	src: url("../css/fonts/Roobert-Medium.woff2") format("woff2")
	}
@font-face {font-family: "Roobert-SemiBold"; 
	src: url("../css/fonts/Roobert-SemiBold.woff2") format("woff2")
	}
@font-face {font-family: "Roobert-light"; 
	src: url("../css/fonts/Roobert-light.woff2") format("woff2")
	}

	 
	 

html, body	
	
	font-style: "roobert-regular"
 
	font-display auto /* Define how the browser behaves during download */
	
big-font = (52rem/18)
sub-font = (34rem/18)
medium-font = (26rem/18)
small-font = (22rem/18)	// original is 12rem, but too small

.big
	font-size 10vw
	// line-height 120%
	
	+media(tablet-v)
		font-size big-font


.medium
	font-size medium-font

.small
	font-size small-font
	line-height 150%